{{#each this}}
	<div class="candidate-relation-block row">
	<input 
		type='checkbox' 
		id='{{drugCui}}-{{eventCui}}' 
		data-drug-cui='{{drugCui}}' 
		data-event-cui='{{eventCui}}' 
		class='candidate-selection-checkbox drug-{{drugCui}}'
	>{{drug}} - {{event}} ({{patientCount}})</input>
	</div>
{{/each}}